<section class="companies-section" aria-label="Trusted companies">
  <div class="companies-section__count">
    <p class="count__text">Trusted By 250+ Companies</p>
  </div>
  @@include('_card-company.html', { "img": "zapier-icon", "alt": "Zapier" })
  @@include('_card-company.html', { "img": "spotify-icon", "alt": "Spotify" })
  @@include('_card-company.html', { "img": "zoom-icon", "alt": "Zoom" })
  @@include('_card-company.html', { "img": "slack-icon", "alt": "Slack" })
  @@include('_card-company.html', { "img": "amazon-icon", "alt": "Amazon" })
  @@include('_card-company.html', { "img": "adobe-icon", "alt": "Adobe" })
</section>
