<section class="cta-section" id="contact">
  <img class="cta-section__logo" src="./assets/images/Logo.webp" alt="SquareUp" width="178" height="60">
  <h2 class="cta-section__title h2">Thank you for your Interest in SquareUp.</h2>
  <p class="cta-section__text">We would love to hear from you and discuss how we can help bring your digital ideas to life. Here are the different ways you can get in touch with us.</p>
  @@include('_button.html', {
    "title": "Start Project",
    "link": "mailto:hello@squareup.com",
    "class": "cta-section__button button--accent"
  })
</section>
