<section class="hero-section" id="home">
  <h1 class="h1 hero-section__title">A Digital Product Studio <br>that will Work</h1>
  <div class="hero-section__promo" aria-label="Audience types">
    <p class="promo__text">For <span class="promo__card">Startups</span><span class="promo__separator">,</span> <span class="promo__card">Enterprise leaders</span><span class="promo__separator">,</span> <span class="promo__card">Media & Publishers</span> and <span class="promo__card">Social Good</span></p>
  </div>
  <div class="buttons__wrapper">
    @@include('_button.html', {
      "title": "Our Works",
      "link": "#work",
      "class": "hero-section__button button--blur"
    })
    @@include('_button.html', {
      "title": "Contact Us",
      "link": "#contact",
      "class": "hero-section__button button--accent"
    })
  </div>
</section>
