<section class="why-section">
  @@include('_why-card.html', {
    "title": "Expertise",
    "img": "extertise",
    "description": "Our team consists of highly skilled professionals who have a deep understanding of the digital landscape. We stay updated with the latest industry trends and best practices to deliver cutting-edge solutions."
  })
  @@include('_why-card.html', {
    "title": "Client-Centric Approach",
    "img": "client",
    "description": "We prioritize our clients and their unique needs. We listen to your ideas, challenges, and goals, and tailor our services to meet your specific requirements. Your success is our success."
  })
  @@include('_why-card.html', {
    "title": "Results-Driven Solutions",
    "img": "solutions",
    "description": "Our primary focus is on delivering results. We combine creativity and technical expertise to create digital products that drive business growth, enhance user experiences, and provide a competitive advantage."
  })
  @@include('_why-card.html', {
    "title": "Collaborative Partnership",
    "img": "partnership",
    "description": "We value long-term relationships with our clients. We see ourselves as your digital partner, providing ongoing support, maintenance, and updates to ensure your digital products continue to thrive."
  })
</section>
